body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.cine{
    color: red;
}
.mood{
    color: blue;
}

h1{
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.dropdown-toggle {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
    background-color: #2980b9;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    display: block;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:last-child {
    border-top: 1px solid #ddd;
}
