body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: glowAnimation 2s ease-in-out infinite alternate;
}

.login-form {
    max-width: 250px;
    margin: 0 auto;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
.additional-options {
    margin-top: 10px;
    text-align: center;
}

.additional-options a {
    display: inline-block;
    margin-right: 10px;
    color: #3498db;
    text-decoration: none;
}

.additional-options a:hover {
    text-decoration: underline;
}



@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.8);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.8);
    }
}
